// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tbody {
  tr {
    td {
      div {
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        a.button {
          margin-bottom: 0;
          padding: 0 10px;
        }
      }
    }
  }
}
